.gradle
.intellijPlatform
build
/.idea/gbrowser_project.xml
/.idea/gbrowsers.xml
/.idea/highlightedFiles.xml
/.idea/jsLibraryMappings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/shelf/
/.idea/libraries


/idea-flex.skeleton

/src/main/gen
/.kotlin
